body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}

.heading_container img {
  width: 30px;
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eae6f5;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container {
  padding: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 20px;
  margin: 10px 15px;
  color: #000000;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #4b208c;
  color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #4b208c;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #190734;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  color: #3b3a3a;
  padding-bottom: 90px;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail_box {
  color: #000000;
}

.slider_section .detail_box h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail_box p {
  margin-top: 20px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 35px;
  margin-top: 35px;
}

.slider_section .detail_box a:hover {
  background-color: #5625a1;
}

.slider_section .img_container {
  border: 7px solid #7b57b2;
  border-radius: 100%;
  overflow: hidden;
}

.slider_section .img_container div#carouselExampleContarols {
  width: 100%;
  position: unset;
}

.slider_section .img_container .img-box img {
  width: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.slider_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #ffffff;
  -webkit-transform: translate(-85px, 30px);
          transform: translate(-85px, 30px);
}

.slider_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #4b208c;
  -webkit-transform: translate(-45px, 0);
          transform: translate(-45px, 0);
}

.service_section {
  text-align: center;
}

.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service_section .service_container .box {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 35px 25px 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.service_section .service_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}

.service_section .service_container .box .img-box img {
  width: 100px;
}

.service_section .service_container .box .detail-box {
  margin-top: 25px;
}

.service_section .service_container .box .detail-box h5 {
  color: #2e0e5f;
  font-weight: 600;
  position: relative;
}

.service_section .service_container .box:hover, .service_section .service_container .box.active {
  border-top: 15px solid #512a97;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 35px;
}

.service_section .btn-box a:hover {
  background-color: #5625a1;
}

.about_section {
  background-color: #f3f0f6;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_section .img_container .img-box {
  border: 5px solid #7b57b2;
  border-radius: 100%;
  overflow: hidden;
}

.about_section .img_container .img-box.b1 {
  width: 70%;
}

.about_section .img_container .img-box.b2 {
  width: 60%;
  margin-left: auto;
  margin-top: -12%;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  margin-right: 15%;
}

.about_section .detail-box p {
  margin-top: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 5px;
  margin: 25px 0 45px 0;
}

.about_section .detail-box a:hover {
  background-color: #5625a1;
}

.blog_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_section .heading_container h2::before {
  background-color: #ffffff;
}

.blog_section .box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 25px 25px 15px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.contact_section {
  position: relative;
}

.contact_section form {
  margin-top: 45px;
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section input::-webkit-input-placeholder {
  color: #737272;
}

.contact_section input:-ms-input-placeholder {
  color: #737272;
}

.contact_section input::-ms-input-placeholder {
  color: #737272;
}

.contact_section input::placeholder {
  color: #737272;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  border: none;
  display: inline-block;
  padding: 12px 45px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 0px;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: #5625a1;
}

.contact_section .map_container {
  height: 100%;
  min-height: 325px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.footer_bg {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: top;
}

/* info section */
.info_section {
  background-color: #190734;
  color: #ffffff;
}

.info_section h6 {
  font-weight: bold;
}

.info_section .info_contact {
  margin-top: 60px;
  margin-bottom: 45px;
}

.info_section .info_contact .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact a {
  color: #ffffff;
}

.info_section .info_contact img {
  max-width: 100%;
  margin-right: 10px;
}

.info_section .info_form {
  margin: 0 auto;
  margin-bottom: 45px;
}

.info_section .info_form h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_form form input {
  background-color: #ffffff;
  border: none;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  outline: none;
  color: #000000;
  min-height: 42.4px;
  padding-left: 15px;
}

.info_section .info_form form input ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.info_section .info_form form input :-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.info_section .info_form form input ::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.info_section .info_form form input ::placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.info_section .info_form form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  display: inline-block;
  padding: 10px 30px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 0;
  font-size: 15px;
  text-transform: uppercase;
}

.info_section .info_form form button:hover {
  background-color: #5625a1;
}

.info_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social img {
  width: 35px;
  margin-right: 8px;
}

/* end info section */
/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  color: #222222;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section p a {
  color: #222222;
}


.cadastrar_disciplina .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 35px;
}

.cadastrar_disciplina .btn-box a:hover {
  background-color: #5625a1;
}

.detail-box p {
  margin-bottom: 1.5px; /* Ajuste a margem inferior conforme necessário para reduzir o espaçamento */
}

.table-bordered td,
.table-bordered th {
  border-left: none !important;
  border-right: none !important;
}

/* CSS para botão de agendamento */
.schedule_button {
  background-color: #5625a1;
  color: white;
  border: none; /* Remove a borda */
  border-radius: 20px; /* Bordas arredondadas */
  padding: 8px 15px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.schedule_button:hover {
  background-color: #4a0c8b; /* Mudança de cor ao passar o mouse */
}

.schedule_button:active {
  background-color: #431d7c; /* Mudança de cor ao clicar */
}

table th:first-child {
  color: #5625a1; /* Cor roxa */
}

.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Posicionamento fixo para manter o modal no centro da página */
  z-index: 1; /* Define a ordem de empilhamento */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adiciona rolagem quando o conteúdo do modal excede a altura da tela */
  background-color: rgba(0,0,0,0.4); /* Fundo escuro semi-transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centraliza verticalmente na tela */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
  max-width: 600px; /* Largura máxima do modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.schedule_button,
.submit_button {
  background-color: #5625a1;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.submit_button:hover,
.submit_button:focus {
  background-color: #431d7d;
}

.img-box {
  width: 100%;
  max-width: flex; /* largura fixa do contêiner */
  height: 300px; /* altura fixa do contêiner */
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #5625a1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.service_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px; /* Espaço entre os boxes */
  justify-content: center; /* Centraliza os itens no contêiner se eles não ocuparem toda a largura */
}

.agendamento-box {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  border: 2px solid #eae6f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: start;
}


/* Considera a última caixa da linha para remover a margem à direita */
.agendamento-box:last-child {
  margin-right: 0;
}

/* Responsividade para evitar sobreposição em layouts estreitos */
@media (max-width: 768px) {
  .agendamento-box {
    margin-right: 0; /* Remove a margem à direita em dispositivos móveis */
    width: 100%; /* Ajusta a largura para 100% em telas estreitas */
  }
}


.agendamento-box h4 {
  color: #5625a1; /* Título roxo */
  margin-top: 0; /* Remove margem superior para o título */
  margin-bottom: 10px; /* Reduz o espaço abaixo do título */
}

.agendamento-box p {
  margin-bottom: 5px; /* Reduz o espaçamento entre as linhas */
  line-height: 1.3; /* Ajusta o espaçamento da linha */
}

.agendamento-box:hover {
  border-left: 5px solid #5625a1; /* Linha roxa ao passar o mouse */
  transform: translateY(-5px); /* Levanta o box ao passar o mouse */
}

.disponibilidade {
  font-size: 0.8rem; /* Tamanho da fonte menor */
  color: #666; /* Cor cinza para o texto */
  margin-top: 5px; /* Espaço acima do texto de disponibilidade */
}


.notification {
  display: none; /* Escondido por padrão */
  position: fixed; /* Fica fixo na tela */
  top: 20px; /* Distância do topo da tela */
  right: 20px; /* Distância da direita da tela */
  background-color: #f44336; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  padding: 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  z-index: 1000; /* Garante que fique sobre outros elementos */
}

.img-box {
  width: 100%; /* Ou outra largura desejada */
}
